@font-face {
	font-family: 'Koruri';
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot?#iefix') format('embedded-opentype');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff') format('woff'),
         url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.ttf') format('truetype');
    
    /*  for fuck'n chrome  */
    src: url(//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff) format('woff'); 
}

body {
    font-family: Koruri;
}
